@page "/Battle-4"
@inject ILocalStorageService localStorage


<div class="topcenter-container">
    <h3>BATTLE</h3>
    <p>boss health: @enemyOnehp</p>
    <p>Press enter to submit your answer</p>
    <p class="question">@num1 x @num2 = ?</p>
</div>
 
<div class="bottomcenter-container">
    <p>your health: @mainChp</p>
    <!--the text input box and the on enter key pressed-->
    <input type="number" class="user-input" @bind="@userAnswer" @bind:event="oninput" @onkeydown="HandleKeyDown" />

    <!--this bit is for displaying the result, like the game over yes, skill issue stuff-->
    <p>@resultMessage</p>
   
</div>

<!--the css styling bit lol-->
<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .topcenter-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50%;
        text-align: center;
        font-family: Courier New, Courier, monospace;
    }

    .bottomcenter-container {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        font-family: Courier New, Courier, monospace;
    }

    .question {
        font-size: 30px;
    }

    .user-input {
        font-size: 24px;
        padding: 10px;
        width: 200px;
    }
</style>


@code {
    //variables for both storing the uh numbers and the inputs from userrrr
    private int num1;
    private int num2;
    private int? userAnswer;
    private const string Level = "level";

    //for managing the visability of the resultsssss
    private string resultMessage;

    //starting player and boss health
    public int mainChp = 3;
    public int enemyOnehp = 15;

    //what the thing first start this should runnn
    protected override void OnInitialized()
    {
        GenerateNumbers();
        resultMessage = "goodluck~";
    }

    //number gen and clear past user input
    private void GenerateNumbers()
    {
        Random random = new Random();
        num1 = random.Next(1, 12);
        num2 = random.Next(1, 12);
        userAnswer = null;
    }

    //presss enterrrr
    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await CheckAnswer();
        }
    }

    private void YouWin()
    {
        NavigationManager.NavigateTo("/You-Win");
    }

    private void YouLose()
    {
        NavigationManager.NavigateTo("/You-Lose");
    }

    //check the userinput and updates whatever is diaplayed
    private async Task CheckAnswer()
    {
        if (userAnswer == num1 * num2)
        {
            //correct answer wooo, enemy health -1
            resultMessage = "Yes";
            GenerateNumbers();
            enemyOnehp = Math.Max(enemyOnehp - 1, 0); //this bit shows that the boss hp cannot be below 0 :)

            if (enemyOnehp == 0)
            {

                YouWin();

                var currentLevel = await localStorage.GetItemAsync<int>(Level);
                if (currentLevel <= 3)
                {
                    await localStorage.SetItemAsync(Level, GameLevel.Level4);
                }
            }
        }
        else
        {
            //wrong answer oh no, player health -1
            resultMessage = "Skill issue(try again)";
            mainChp = Math.Max(mainChp - 1, 0); //this bit shows that the mc hp cannot be below 0 :) also after this call the method for likr, removing one of the blocks of hp

            if (mainChp == 0)
            {

                YouLose();
            }
        }
    }

}