@page "/Battle-1-Post"

<style>
    html, body {
        overflow: hidden;
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
    }

        .main img {
            max-width: 100%;
            max-height: 100%;
        }

    .skip-button {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    button {
        --c: #FFA364; /* the color*/

        box-shadow: 0 0 0 .1em inset var(--c);
        --_g: linear-gradient(var(--c) 0 0) no-repeat;
        background: var(--_g) calc(var(--_p,0%) - 100%) 0%, var(--_g) calc(200% - var(--_p,0%)) 0%, var(--_g) calc(var(--_p,0%) - 100%) 100%, var(--_g) calc(200% - var(--_p,0%)) 100%;
        background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
        outline-offset: .1em;
        transition: background-size .4s, background-position 0s .4s;
        color: #FFA364;
    }

        button:hover {
            --_p: 100%;
            transition: background-position .4s, background-size 0s;
            color: white;
        }

        button:active {
            box-shadow: 0 0 9e9q inset #FFA364;
            background-color: var(--c);
            color: #FFA364;
        }

    button {
        font-family: Courier New, Courier, monospace;
        font-size: 17px;
        cursor: pointer;
        padding: .1em .6em;
        border: none;
        background-color: #273248;
    }

</style>

<div class="main">
    <div style="cursor: pointer" @onclick="NextImage">
        <img src="@currentImage" alt="Image">
    </div>
    @if (currentIndex == images.Length - 1)
    {
        <div class="skip-button">
            <button style="--c:#FFA364" class="skip-story" @onclick="SkipStory">Back To Main Map</button>
        </div>
    }
</div>


@code {
    //Main story images cycling through
    private string[] images = new string[]
        {
        "images/cutscenes/post1-1.png",
        "images/cutscenes/post1-2.png",
        "images/cutscenes/post1-3.png",
        "images/cutscenes/post1-4.png",
        "images/cutscenes/post1-5.png",
        "images/cutscenes/post1-6.png",
        "images/cutscenes/post1-7.png",
        "images/cutscenes/post1-8.png",
    };

    private int currentIndex = 0;
    private string currentImage => images[currentIndex];


    private void NextImage()
    {
        currentIndex = (currentIndex + 1) % images.Length;

        if (currentIndex == 0)
        {
            // Reached the end of the array, stop further switching
            currentIndex = images.Length - 1;
        }
    }

    //Skip to game button
    private void SkipStory()
    {
        NavigationManager.NavigateTo("/Main-Map");
    }

}