@page "/Casual-Game-Mode-Multiplication"
@inject ILocalStorageService localStorage

<div class="center-container">
    <h1>CASUAL GAME MODE</h1>
    <h4>[Multiplication]</h4>
    <p>Press enter to submit your answer</p>
    <p>Score: @multiplicationScore</p>
    <p class="question">@num1 x @num2 = ?</p>

    <input type="number" class="user-input" @bind="@userAnswer" @bind:event="oninput" @onkeydown="HandleKeyDown" />

    <p>@resultMessage</p>

    <div class="buttons">
        <button class="reset-button" @onclick="ResetScore">Reset Score</button>
        <button class="main-map" @onclick="ToMainMap">Return to main map</button>
    </div>

</div>

<style>

    .center-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
        font-family: Courier New, Courier, monospace;
        margin: -10px;
        background-color: #273248;
        color: #FFA364
    }

        .center-container .h1 {
            font-weight: bold;
        }

        .center-container .h4 {
            padding-top: 20px;
        }

        .center-container .question {
            font-weight: bold;
            font-size: 30px;
        }

        .center-container .reset-button {
            padding: 10px;
            justify-content: center;
            border: 1px solid #FFA364;
            font-family: Courier New, Courier, monospace;
            background-color: #273248;
            font-weight: bold;
            color: #FFA364;
        }

        .center-container .main-map {
            padding: 10px;
            justify-content: center;
            border: 1px solid #FFA364;
            font-family: Courier New, Courier, monospace;
            background-color: #273248;
            font-weight: bold;
            color: #FFA364;
        }

    .user-input {
        background-color: #FFA364;
        font-family: Courier New, Courier, monospace;
        color: #273248;
        justify-content: center;
        font-size: 24px;
        padding: 10px;
        width: 200px;
        font-weight: bold;
        border: none;
        outline: none;
        -moz-appearance: textfield;
    }
</style>

@code {
    private int num1;
    private int num2;
    private int? userAnswer;
    private string? resultMessage;
    private int multiplicationScore;

    protected override async Task OnInitializedAsync()
    {
        GenerateNumbers();
        multiplicationScore = await localStorage.GetItemAsync<int>("score");
        resultMessage = "goodluck~";
    }

    private void GenerateNumbers()
    {
        Random random = new Random();
        num1 = random.Next(1, 12);
        num2 = random.Next(1, 12);
        userAnswer = null;
    }

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await CheckAnswer();
        }
    }

    private async Task CheckAnswer()
    {

        if (userAnswer == num1 * num2)
        {
            resultMessage = "Yes";
            GenerateNumbers();
            multiplicationScore++;
            await localStorage.SetItemAsync("score", multiplicationScore);
        }
        else
        {
            resultMessage = "Skill issue (try again)";
            multiplicationScore--;
            if (multiplicationScore<-5)
            {
                resultMessage = "bruh, you suck";
            }
        }
    }

    private async Task ResetScore()
    {
        multiplicationScore = 0;
        await localStorage.SetItemAsync("score", 0);
    }

    private void ToMainMap()
    {
        NavigationManager.NavigateTo("/Main-Map");
    }
}