@page "/Casual-Game-Mode-Addition"
@inject ILocalStorageService localStorage

<div class="center-container">
    <h3>Battle</h3>
    <p>Press enter to submit your answer</p>
    <p>Score: @additionScore</p>
    <p>@num1 + @num2 = ?</p>

    <input type="number" @bind="@userAnswer" @bind:event="oninput" @onkeydown="HandleKeyDown" />

    <button @onclick="ResetScore">Reset Score</button>

    @if (showResult)
    {
        <p>@resultMessage</p>
    }
</div>

<div class="main-map-button">

    <button class="main-map" @onclick="ToMainMap">Return to main map</button>

</div>

<style>

    .center-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
        font-family: Courier New, Courier, monospace;
    }

    .main-map-button {
        font-family: Courier New, Courier, monospace;
    }
    
</style>

@code {
    private int num1;
    private int num2;
    private int? userAnswer;
    private bool showResult;
    private string resultMessage;
    private int additionScore;

    protected override async Task OnInitializedAsync()
    {
        GenerateNumbers();
        additionScore = await localStorage.GetItemAsync<int>("score1");
    }

    private void GenerateNumbers()
    {
        Random random = new Random();
        num1 = random.Next(1, 50);
        num2 = random.Next(1, 50);
        userAnswer = null;
    }

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await CheckAnswer();
        }
    }

    private async Task CheckAnswer()
    {
        showResult = true;
        if (userAnswer == num1 + num2)
        {
            resultMessage = "Yes";
            GenerateNumbers();
            additionScore++;
            await localStorage.SetItemAsync("score1", additionScore);
        }
        else
        {
            resultMessage = "Skill issue (try again)";
        }
    }

    private async Task ResetScore()
    {
        additionScore = 0;
        await localStorage.SetItemAsync("score1", 0);
    }

    private void ToMainMap()
    {
        NavigationManager.NavigateTo("/Main-Map");
    }

}