@page "/Main-map"

<h3>Main-Map</h3>

<div class="battle-one">
    <button class="battle-one" @onclick="ToBattleOne">Battle 1</button>
</div>

<div class="battle-two">
    <button class="battle-two" @onclick="ToBattleTwo">Battle 2</button>
</div>

<div class="battle-three">
    <button class="battle-three" @onclick="ToBattleThree">Battle 3</button> 
</div>

<div class="battle-four">
    <button class="battle-four" @onclick="ToBattleFour">Battle 4</button>
</div>

<div class="boss-fight">
    <button class="boss-fight" @onclick="ToBossFight">Battle 5</button>
</div>

<div class="casual-game-mode">
    <button class="casual-game-mode" @onclick="CasualGameMode">Play Casual Game Mode</button>
</div>  

@code {
    private void ToBattleOne()
    {
        NavigationManager.NavigateTo("/Battle-1");
    }

    private void ToBattleTwo()
    {
        NavigationManager.NavigateTo("/Battle-2");
    }

    private void ToBattleThree()
    {
        NavigationManager.NavigateTo("/Battle-3");
    }

    private void ToBattleFour()
    {
        NavigationManager.NavigateTo("/Battle-4");
    }

    private void ToBossFight()
    {
        NavigationManager.NavigateTo("/Story-Page");
    }

    private void CasualGameMode()
    {
        NavigationManager.NavigateTo("/Casual-Game-Mode");
    }
}