@page "/Play-Again"
@inject ILocalStorageService localStorage
@inject NavigationManager NavigationManager

<style>
    html, body {
        overflow: hidden;
    }
    .background-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("images/click to end.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        overflow: hidden;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px; /* Subtracting 20px for top and bottom margin */
        margin: 800px; /* Margin around the container */
    }

    button {
        --c: #FFA364; /* the color*/

        box-shadow: 0 0 0 .1em inset var(--c);
        --_g: linear-gradient(var(--c) 0 0) no-repeat;
        background: var(--_g) calc(var(--_p,0%) - 100%) 0%, var(--_g) calc(200% - var(--_p,0%)) 0%, var(--_g) calc(var(--_p,0%) - 100%) 100%, var(--_g) calc(200% - var(--_p,0%)) 100%;
        background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
        outline-offset: .1em;
        transition: background-size .4s, background-position 0s .4s;
        color: #FFA364;
    }

        button:hover {
            --_p: 100%;
            transition: background-position .4s, background-size 0s;
            color: white;
        }

        button:active {
            box-shadow: 0 0 9e9q inset #FFA364;
            background-color: var(--c);
            color: #FFA364;
        }

    button {
        font-family: Courier New, Courier, monospace;
        font-size: 17px;
        cursor: pointer;
        padding: .1em .6em;
        border: none;
        background-color: #273248;
    }

</style>

<div class="background-image" @onclick="UpdateLevel"></div>

<div class="container">
    <button style="--c:#FFA364" class="main-map" @onclick="Continue">Return to Main Map</button>
</div>

@code {
    private async Task UpdateLevel()
    {
        await localStorage.SetItemAsync("level", 0);
        NavigationManager.NavigateTo("/");
    }
    private void Continue()
    {
        NavigationManager.NavigateTo("/Main-Map");
    }

}