@page "/You-Lose"

<style>
    .background-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("images/u lose.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        overflow: hidden;
    }
</style>

<a href="/Main-Map">
    <div class="background-image"></div>
</a>